@charset "UTF-8";

h1, a {
	margin-left: 20%;
}

div {
	text-align: center;
	width: 80%;
}

p {
	background-color: dodgerblue;
	border: 3px solid black;
	width: 30%;
	margin-left: 40%;
	padding: 5%
}
